.App {
 
  background-color: slategrey;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 15vh;
  width: 100vw;
  font-size: 2rem;
  padding: 5rem;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 }


 .h1 {
  font-family: "Ubuntu Condensed", sans-serif;
  display: flex;
   flex-direction: row;
   justify-content: flex-start;
 }



.App-link {
  color: #61dafb;
}





